$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$primary-color-1: #323232; //this is Brainflix Black
$primary-color-2: #0095ff; //this is blue
$primary-color-3: #afafaf; //this is silver
$primary-color-4: #ffffff; //this is white
$secondary-color-1: #000000; //this is dark black
$secondary-color-2: #0065ad; //this is dark blue
$secondary-color-3: #e1e1e1; //this is mercury
$secondary-color-4: #fafafa; //this is alabaster
