@use "../../styles/partials/mixins" as *;

@use "../../styles/partials/variables" as *;

.commentcard{

    &__avatar{
        width: 2.25rem;
        height: 2.25rem;
        border-radius:50%;
        padding:1.2rem;
        background-color: $primary-color-3;
        
        @include tablet{
            width:2.5rem;
            height:2.5rem;
        }

    }

    &__subheader{

    }

    &__commenttext{

    }
}